#Class
*.class

#Files
build/built-jar.properties
*.html
dist/DatabaseProject.jar
dist/lib/postgresql-42.2.1.jar
dist/DatabaseProject.html
nbproject/private/private.properties
nbproject/private/private.xml

